<h1 class="comment display-4 mt-5"><%= @comment %></h1>
<p class="buttons mt-4">
  <%= link_to fa_icon("refresh", text: "Nueva frase millennial"), root_path, class: "btn btn-outline-success" %>
  <%= link_to fa_icon("facebook", text: "Compartir en Facebook"), "https://www.facebook.com/sharer/sharer.php?u=#{url_encode @comment}", class: "btn btn-outline-primary" %>
  <%= link_to fa_icon("twitter", text: "Compartir en Twitter"), "https://twitter.com/intent/tweet?text=#{url_encode @comment}", class: "btn btn-outline-info" %>
</p>
